<configuration>
    <!-- %m输出的信息,%p日志级别,%t线程名,%d日期,%c类的全名,,,, -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p (%file:%line\)- %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--    <appender name="baselog"-->
    <!--              class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--        <File>log/base.log</File>-->
    <!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
    <!--            <fileNamePattern>./log/base.log.%d.%i</fileNamePattern>-->
    <!--            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
    <!--                &lt;!&ndash; or whenever the file size reaches 32 MB &ndash;&gt;-->
    <!--                <maxFileSize>32 MB</maxFileSize>-->
    <!--            </timeBasedFileNamingAndTriggeringPolicy>-->
    <!--        </rollingPolicy>-->
    <!--        <encoder>-->
    <!--            <pattern>-->
    <!--                %d %p (%file:%line\)- %m%n-->
    <!--            </pattern>-->
    <!--            <charset>UTF-8</charset> &lt;!&ndash; 此处设置字符集 &ndash;&gt;-->
    <!--        </encoder>-->
    <!--    </appender>-->

    <!--    <logger name="com.**" level="DEBUG">   &lt;!&ndash; 监控的包名，自己的包结构，在最后我会贴出我的包结构&ndash;&gt;-->
    <!--        <appender-ref ref="baselog"/>-->
    <!--    </logger>-->

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
